<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>XDE网络社の招新</title>
    </head>
    <body>
        <div class="head">
            <img src="/static/img/2.jpg" style="position:absolute; right: 20px; width: 40px;clear:both">
            <a href="index" class = "xde" style="float:left">加入XDE网络社！</a>
            <a href="dino-play" class="xde" style="float:left;text-decoration: none;">小恐龙（demo）</a>
            <div class = "xde"style="float:left;">各位有什么自制游戏别藏着掖着了拿出来拉人罢！！！</div>    
        </div>
        <div style=" background-image:url('./img/denim.webp');position: relative;top:60px;height:1000px">
            <div class="container" style="height: 800px;">
                <iframe src="/static/html/dino.html" style="height:80%;width: 100%;" ></iframe>
                
            </div>
            <div style="width: 100%;height: 150px;background-color: black;color:white;font-family: 'Courier New', Courier, monospace;">
                <p style="text-align:right;margin-right: 30px;">Developed by kongjiang wangluoshe develop group</p>
                <p style="text-align:right;margin-right: 30px;">控江中学高二网络社社员许可证 控Q-1145141919</p>
                <p style="text-align:right;margin-right: 30px;">No rights reserved</p>
                <p style="text-align: center;font-size: large;color:lightblue"><b>勇敢的少年啊快去报名网络社</b></p>
            </div>
        </div>
    </body>
</html>