<!DOCTYPE html>
<!-- { % load static % } -->
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>XDE网络社の招新</title>
    </head>
    <body>
        <div style=" background-color: rgb(53, 44, 44)">
            <div class="head">
                <img src="/static/img/2.jpg" style="position:absolute; right: 20px; width: 40px;clear:both">
                <div class = "xde"style="float:left">加入XDE网络社！</div>
                <a href="dino-play" class="xde" style="float:left;text-decoration: none;">小恐龙（demo）</a>
                <div class = "xde"style="float:left;">各位有什么自制游戏别藏着掖着了拿出来拉人罢！！！</div>    
            </div>
            <div style="height: 30px;"></div>
            <div class="container">
                <h1>欢迎加入XDE网络社!</h1>
                <div class="content">
                    <p>XDE 网络社是我们学校最具活力和创新性的社团之一。作为一个致力于信息竞赛和人工智能研究的团体，我们提供给同学们一个共同发展和学习的平台。</p>
                    <aside>
                        <img src="/static/img/2.jpg" style="width: 150px;">
                    </aside>
                    <p>在信息竞赛方面，我们积极参与各类竞赛，如 NOIP 全国信息学奥林匹克竞赛、全国青少年创意工程主题赛等。我们组织内部培训和外部比赛分享，旨在帮助成员提高编程能力、算法思维和团队协作。我们鼓励成员们挑战自我，不断探索和学习，取得优异的成绩。</p>
                    <p>此外，我们也致力于人工智能研究。人工智能是当今科技领域的热门话题，我们希望通过社团的力量，探索其深入应用和发展潜力。我们组织有关人工智能的课程和项目实践，为对人工智能感兴趣的成员提供一个广阔的学习和交流空间。</p>
                    <p>在XDE 网络社，我们注重团队精神和合作意识。我们相信每个成员都有独特的才华和潜力并且通过互相学习和支持，我们能够取得更大的成就。无论你是初学者还是有经验的选手我们都欢迎你的加入。</p>
                    <p>如果你对信息竞赛和人工智能研究感兴趣，XDE 网络社将是你不可错过的选择!</p>
                    <p>加入我们让我们一起探索未知的领域，挑战自我，共同成长!</p>
                </div>
                <div class="dashed">
                    <p>顺便提一嘴，这都是ChatGPT写的……</p>
                </div>
                <br>
                <br>
                <div>
                    <h2><b>社团成员の风采</b></h2>
                </div>
                <div style="height: 1500px;">
                    <div style="width:100%;">
                        <img src="/static/img/1.jpg" class = "img" style="clear: both;">
                        <div class="d2a">
                            <p style="color: white;">国际大学生程序设计竞赛（英文全称：International Collegiate Programming Contest，简称ICPC）是由美国计算机协会（ACM）主办的年度竞赛，旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力。</p>
                            <p style="color: white;">控江中学代表队收其邀请，与上海四校八大、全国大学名校精英们一同逐鹿。</p>
                            <p style="color: white;">在激烈的较量与比拼后，控江中学代表队凭实力胜过了大多四校八大队伍</p>
                            <p style="color:crimson"><i><b>加入控江网络社，你也能拥有在更大的信息舞台上挥洒汗水的资格！！</b></i></p>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <img src="/static/img/3.jpg" class = "img" style="clear: both;">
                        <div class="d2a">
                            <p style="color: white;">是的！信息竞赛是五大学科竞赛之一！</p>
                            <p style="color: white;"><del>唯一一项你有正当理由摸鱼的竞赛</del></p>
                            <p style="color: white;">你难道不好奇:电脑不只是一项工具吗？信息竞赛比什么呢？有什么思维难度呢？为什么看起来容易的学科竞赛反而不容易拿奖呢？</p>
                            <p style="color:crimson"><i><b>来控江网络社，细心的老师，逗逼的学长们都能给你以解答！！！</b></i></p>
                            <p style="color:crimson"><i><b>让你打开电脑后不再仅仅停留于谷歌blibli蒸汽机！！！</b></i></p>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <img src="/static/img/4.png" class = "img" style="clear: both;">
                        <div class="d2a">
                            <p style="color: white;">试想</p>
                            <p style="color: white;">当同龄人还在面对着"=""=="两符号的区别傻傻分不清</p>
                            <p style="color: white;">当同桌那个常常数学压你一头的卷王突然一筹莫展</p>
                            <p style="color: white;">你风轻云淡地交完信息作业开始打pvz，是种怎样的感觉？</p>
                            <p style="color:crimson"><i><b>来控江网络社，帮助你成长为这样的大佬！！！</b></i></p>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <img src="/static/img/5.jpg" class = "img" style="clear: both;">
                        <div class="d2a">
                            <p style="color:crimson"><i><b>这是两位D级网络社社员放假离开XDE网络社超过3周后的精神状态</b></i></p>
                            <p style="color:crimson"><i><b>评价是：失去了精神支柱</b></i></p>
                            <p style="color: white;"><b>拍摄地点：上海交通大学</b></p>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <img src="/static/img/2.jpg" class = "img-small" style="clear: both;">
                        <div class="d2a">
                            <p style="color:crimson"><i><b>来网络社<del>...嘶哈...嘶哈...</del>来和<del>...流口水...</del>可耐的吉祥物贴贴</b></i></del></p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 150px;background-color: black;color:white;font-family: 'Courier New', Courier, monospace;">
                <p style="text-align:right;margin-right: 30px;">Developed by kongjiang XDE developer group</p>
                <p style="text-align:right;margin-right: 30px;">控江中学高二网络社社员许可证 控Q-1145141919</p>
                <p style="text-align:right;margin-right: 30px;">No rights reserved</p>
                <p style="text-align: center;font-size: large;color:lightblue"><b>勇敢的少年啊快去报名网络社</b></p>
            </div>
            </div> 
        </div>
    </body>
</html>